node_modules
build/
.idea
docs/
npm-debug.log
.coverage
coverage
output
yarn-error.log
.nyc_output
dist/
__pycache__
.DS_Store
.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes
._*
lib-cov
lcov.info
pids
logs
results
.VSCodeCounter
*.log
tsconfig.tsbuildinfo
.scannerwork
